.env.exampleDATABASE_URL=postgresql://neondb_owner:npg_jANPVS9FK2Jr@ep-lucky-resonance-ao67d9b2-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000
